*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/assets/openai_clip-clipimageencoder-snapdragon_8_elite.tflite
app/src/main/assets/openai_clip-cliptextencoder-snapdragon_8_elite.tflite
.idea/deploymentTargetSelector.xml
.idea/deploymentTargetSelector.xml
app/src/main/assets/beit-snapdragon_8_elite.tflite
app/src/main/assets/beit-snapdragon_8_elite.tflite
